{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Book Service" %}{% endblock %}

{% block content %}
<div class="container mt-5 justify-content-center align-items-center">
  <div class="row justify-content-center">
    <div class="col-lg-6 card push-down">

      <div class="row text-center">
        <div class="col-md-8 mt-3 pt-3 offset-md-2">
          <h1 class="text-center">{% trans "Book a Service" %}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row text-center">
              <div class="col mb-4">
                <button class="btn btn-more-info" type="submit">{% trans 'Submit' %}</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}