{% extends "base.html" %}

{% block content %}

<div class="container mt-4 text-center">
    <h1 class="mb-4" style="color: #474973;">Hi there, {{ user.username }}</h1>
</div>

<div class="container mt-4">
    <div class="row">
        <!-- Upcoming Bookings Section -->
        <div class="col-md-6 mb-3">
            <h2 class="mb-4" style="color: #474973;">Upcoming Bookings</h2>
            {% for booking in object_list %}
            <div class="card mb-3">
                <!-- Added mb-3 for spacing between multiple booking cards -->
                <div class="card-header">
                    Booking Details
                </div>
                <div class="card-body">
                    <p>Appointment Date: {{ booking.date_of_booking|date:"l j F Y" }}</p>
                    <p>Appointment Time: {{ booking.appointment_time|date:"g a" }}</p>
                    <p>Username: {{ booking.username }}</p>
                    <p>Dogs name: {{ booking.dog_name }}</p>
                    <p>Service Booked: {{ booking.service_name }}</p>
                    <div class="d-flex justify-content-around mt-3">
                        <button class="btn btn-primary me-2" type="button">Edit Appointment</button>
                        <button class="btn btn-danger ms-2" type="button">Cancel Appointment</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- My Account Details Section -->
        <div class="col-md-6 mb-3">
            <h2 class="mb-4" style="color: #474973;">My Account Details</h2>
            <div class="card">
                <div class="card-header">
                    Account Details
                </div>
                <div class="card-body">
                    <p>Username: </p>
                    <p>Email: </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

<!-- index.html content ends here -->
{% endblock %}