{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 text-center">
    <h1 class="mb-4">About Diggles Dog Spa</h1>
</div>
<div class="container mt-4 about-content">
    <p>Welcome to Diggles Dog Spa! your premier destination for all things dog care. We offer a variety of services to
        keep your furry friends happy and healthy. From grooming to daycare, our team is dedicated to providing
        top-notch care in a safe and welcoming environment. Nestled in the heart of our community, we pride ourselves on
        being more than just a service provider; we're a home away from home for your beloved pets. Our mission is to
        deliver unparalleled grooming and wellness services in a safe, nurturing, and eco-friendly
        environment.</p>

    <hr>

    <h2>Our Story</h2>
    <p>Founded on a deep passion for animals, Diggles Dog Spa started as a small grooming service by a team of dog
        lovers who wanted to make a difference in pet care. With years of experience and a shared vision of providing
        exceptional care, we have grown into a full-service dog spa that caters to every aspect of your dog's
        well-being.</p>

    <div class="row mt-4">
        <div class="col-md-6">
            <img src="https://res.cloudinary.com/dseyqu8cu/image/upload/v1709402722/groom-1_bwjsqh.png"
                alt="Image of a dog being groomed" class="about-image">
        </div>
        <div class="col-md-6">
            <img src="https://res.cloudinary.com/dseyqu8cu/image/upload/v1709402968/groom-2_nyvraw.png"
                alt="Image of a dog being groomed" class="about-image">
        </div>
    </div>


    <h2>Our Services</h2>
    <ul class="services-list">
        <li><strong>Full-Service Grooming:</strong> Includes a bath with natural shampoo, blow dry, full-body haircut,
            ear cleaning, nail trimming, and anal gland expression.</li>
        <li><strong>Basic Bath & Tidy:</strong> For dogs that need a simple clean-up. Includes a bath, blow dry, light
            trimming (if needed), ear cleaning, and nail trim.</li>
        <li><strong>Puppy Introduction to Grooming:</strong> A gentle introduction to grooming for puppies up to 6
            months old, including a bath, light brushing, and nail trim.</li>
        <li><strong>De-Shedding Treatment:</strong> A special treatment to reduce shedding, including a bath with a
            de-shedding shampoo, blow dry, and thorough brushing to remove loose fur.</li>
        <li><strong>Spa Packages:</strong> Luxurious treatments including aromatherapy baths, moisturizing paw and nose
            treatments, and relaxing massages.</li>
        <li><strong>Teeth Brushing:</strong> Dental hygiene session including teeth brushing and breath freshening.</li>
        <li><strong>Nail Trimming & Grinding:</strong> Nail trimming to a safe length and grinding to smooth out rough
            edges.</li>
        <li><strong>Ear Cleaning:</strong> Gentle cleaning of the ears to remove dirt and wax, helping to prevent
            infections.</li>
        <li><strong>Eye Cleaning:</strong> Careful cleaning around the eyes to remove tear stains.</li>
        <li><strong>Flea & Tick Treatment:</strong> A deep-cleansing bath with flea and tick treatment to rid your pet
            of pests. (Note: This should not replace regular flea and tick prevention methods.)</li>
    </ul>
</div>
{% endblock %}