{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">

    {% block css %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}


    <title>Diggles Dog Spa</title>
</head>

<body>

    <!-- Naigation -->
    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav" style="background-color: #474973;">
        <div class="container px-4">
            <a class="navbar-brand " href="#page-top" style="color: #F1DAC4;">Diggles Dog Spa</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/" style="color: #F1DAC4;">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}" style="color: #F1DAC4;">About</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'price_list' %}" style="color: #F1DAC4;">Price
                            List</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}"
                            style="color: #F1DAC4;">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}" style="color: #F1DAC4;">Login</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'my_account' %}" style="color: #F1DAC4;">My
                            Account</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Alert Box -->
    <h1>Diggles Dog Spa</h1>

    <!-- Main content goes here -->
    <div class="container mt-5 content-area" style="padding-top: 0px;">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="mt-auto py-3" style="background-color: #474973;">
        <div class="container text-center">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://facebook.com" target="_blank" rel="noopener" style="color: #F1DAC4;"
                        aria-label="Visit our Facebook page (opens in a new tab)">
                        <i class="fa-brands fa-facebook fa-lg"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://instagram.com" target="_blank" rel="noopener" style="color: #F1DAC4;"
                        aria-label="Visit our Instagram page (opens in a new tab)">
                        <i class="fa-brands fa-instagram fa-lg"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com" target="_blank" rel="noopener" style="color: #F1DAC4;"
                        aria-label="Visit github (opens in a new tab)">
                        <i class="fab fa-github fa-lg"></i>
                    </a>
                </li>
            </ul>
            <p class="m-0" style="color: #F1DAC4;">Copyright &copy; Diggles Dog Spa</p>
            <p class="m-0" style="color: #F1DAC4;">This has been created for education purposes only</p>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>
    <!-- font awesome script -->
    <script src="https://kit.fontawesome.com/39b2c812fe.js" crossorigin="anonymous"></script>
</body>

</html>