{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<div class="container mt-4 text-center">
    <h1 class="mb-4">DIGGLES DOG SPA</h1>
</div>
<img class="img-fluid" src="https://res.cloudinary.com/dseyqu8cu/image/upload/v1709381553/line-of-dogs_xc1edm.jpg"
    alt="Image of a line of dogs">

<div class="row justify-content-center">
    <div class="col-md-8">
        <p class="home-text">
            At Diggles Dog Spa, we understand that your pet is more than just a dog; they're a cherished member of your
            family. That's why we've created a haven of relaxation and grooming excellence, where every tail wag and
            soft bark is understood as a conversation. Our philosophy is simple yet profound: every dog deserves a day
            where they are the center of attention, basking in the care and affection they bestow upon us so freely.
        </p>
    </div>
</div>

</div>

<!-- index.html content ends here -->
{% endblock %}