{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 text-center">
    <h2 class="mb-4">Price List</h2>
</div>
<div class="container mt-5 text-center">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <p class="pricelist-text">Early grooming is not just beneficial for puppies; it's crucial for their
                development and well-being. Starting at around 10 to 12 weeks of age, shortly after their second
                vaccination, introduces them to grooming in a positive and stress-free manner. At Diggles Dog Spa, we
                specialize in making your puppy's first grooming experience enjoyable and full of gentle care.

                Our expert team focuses on building trust and comfort, ensuring that your puppy views grooming as a time
                for pampering. By introducing them to professional grooming early on, we help instill good grooming
                habits, setting the stage for a lifetime of healthy grooming routines. Choose Diggles Dog Spa for a
                nurturing introduction to grooming, tailored to meet the unique needs of your growing puppy.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <!-- Service cards -->
            {% for service in services %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ service.service_name }}</h5>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-more-info btn-custom-width" data-bs-toggle="modal"
                                data-bs-target="#service{{ forloop.counter }}Modal">Click here for more Info</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Service Modals -->
            <div class="modal fade" id="service{{ forloop.counter }}Modal" tabindex="-1"
                aria-labelledby="service{{ forloop.counter }}ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="service{{ forloop.counter }}ModalLabel">
                                {{ service.service_name }}</h5>
                        </div>
                        <div class="modal-body">
                            {{ service.description }}
                            <hr>
                            <p>{{ service.cost|linebreaksbr }}</p>
                            <hr>
                            <p>Duration: {{ service.formatted_duration }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-custom-modal">Book Now</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-lg-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title text-center">Dog Breed Sizes</h5>
                <div class="row">
                    <div class="col-6">
                        <h6><strong>Small Dogs:</strong></h6>
                        <ul>
                            <li>Chihuahua</li>
                            <li>Pomeranian</li>
                            <li>Yorkshire Terrier</li>
                            <li>Dachshund (Miniature)</li>
                            <li>Shih Tzu</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h6>&nbsp;</h6>
                        <ul>
                            <li>Maltese</li>
                            <li>Toy Poodle</li>
                            <li>Papillon</li>
                            <li>Boston Terrier</li>
                            <li>French Bulldog</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <h6><strong>Medium Dogs:</strong></h6>
                        <ul>
                            <li>Cocker Spaniel</li>
                            <li>Beagle</li>
                            <li>Bulldog</li>
                            <li>Border Collie</li>
                            <li>Shetland Sheepdog</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h6>&nbsp;</h6>
                        <ul>
                            <li>Brittany</li>
                            <li>Basset Hound</li>
                            <li>Standard Schnauzer</li>
                            <li>Pembroke Welsh Corgi</li>
                            <li>Australian Shepherd</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <h6><strong>Large Dogs:</strong></h6>
                        <ul>
                            <li>Golden Retriever</li>
                            <li>Labrador Retriever</li>
                            <li>Boxer</li>
                            <li>Siberian Husky</li>
                            <li>Dalmatian</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h6>&nbsp;</h6>
                        <ul>
                            <li>German Shepherd</li>
                            <li>Doberman Pinscher</li>
                            <li>Rottweiler</li>
                            <li>Greyhound</li>
                            <li>Alaskan Malamute</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <h6><strong>Extra Large Dogs:</strong></h6>
                        <ul>
                            <li>Great Dane</li>
                            <li>Mastiff</li>
                            <li>Saint Bernard</li>
                            <li>Newfoundland</li>
                            <li>Bernese Mountain Dog</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h6>&nbsp;</h6>
                        <ul>
                            <li>Irish Wolfhound</li>
                            <li>Leonberger</li>
                            <li>Scottish Deerhound</li>
                            <li>Great Pyrenees</li>
                            <li>Anatolian Shepherd Dog</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}