@import url('https://fonts.googleapis.com/css2?family=Anuphan&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Play&family=Roboto:wght@400;700&display=swap');


/* body styling */
body {
    background-color: #FFFFFF;
    font-family: "Madimi One", sans-serif;
    color: #474973;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.body-text,
.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

/* navbar and footer */

.navbar,
footer {
    font-family: 'Nunito Sans', sans-serif;
}

.navbar-toggler {
    border-color: rgba(241, 218, 196, 0.5);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23F1DAC4' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.content-area {
    flex: 1;
}

/* homepage */

.home-text {
    color: #474973;
    font-size: 1.3em;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.home-text:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}


/* about page */

.services-list li {
    margin-bottom: 20px;
}

.about-content p,
.about-content li {
    font-size: 1.3em;
}

.about-image {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


/* price list page */

.pricelist-text {
    margin-bottom: 2rem;
    font-size: 1.2em;
    color: #474973;
}

.btn-custom-width {
    width: 150px;
}

.btn-more-info {
    background-color: #474973;
    color: #F1DAC4;
    border: none;
}

.btn-more-info:hover {
    background-color: #A69CAC;
    color: #474973;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-body {
    text-align: center;
}

.btn-custom-modal {
    background-color: #474973;
    color: #F1DAC4;
    border: none;
}

.btn-custom-modal:hover {
    background-color: #A69CAC;
    color: #474973;
}


/* login page */

.login-text {
    color: #474973;
    font-size: 1.3em;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.login-text:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}

.invalid-feedback {
    color: black;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: black;
    background-image: none;
}

.form-group {
    padding-top: 10px;
}

/* my account page */

.card {
    background-color: #F1DAC4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.btn {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.content-area {
    padding-top: 100px;
    padding-bottom: 20px;
}

.alert-dismissible {
    padding-right: 2rem;
    margin-top: 3rem;
    margin-bottom: -4rem;
}

.btn-account-page {
    background-color: #474973;
    color: #F1DAC4;
    border: none;
    font-size: 1.5rem;
    padding: 15px 30px;
}

.btn-account-page:hover {
    background-color: #A69CAC;
    color: #474973;
}

.confirmation-area {
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    font-size: 1.5rem;
}

.confirmation-message {
    margin: 0;
}


/*Admin Dashboard */

.card-body {
    text-align: center;
}

.admin-header {
    padding-top: 50px;
}

form {
    padding-top: 10px;
    display: inline;
    margin-right: 10px;
}

/*Media queries */

@media (max-width: 1200px) {

    form {
        padding-top: 20px;
        display: block;
    }
}

/* Media queries for tablets */

@media (max-width: 768px) {

    .home-text,
    .about-content p,
    .about-content li,
    .pricelist-text {
        font-size: 1.2em;
    }

    .login p {
        font-size: 20px;
    }

    .login .btn {
        font-size: 18px;
    }

    .login .col-md-8 {
        padding: 0 15px;
    }

}


/* Media queries for mobiles devices */

@media (max-width: 576px) {

    .home-text,
    .about-content p,
    .about-content li,
    .pricelist-text {
        font-size: 1em;
    }

    .login p {
        font-size: 18px;
    }

    .login .btn {
        font-size: 16px;
    }

    .login .col-md-8 {
        padding: 0 10px;
    }

    .login a {
        font-size: 16px;
        padding: 5px;
    }
}

/* Media queries for smaller devices */

@media (max-width: 300px) {

    h1,
    h2 {
        text-align: center;
    }

    .navbar-toggler {
        padding: 0.20rem;
        font-size: 1rem;
        background-size: 20px 20px;
    }

    .navbar-brand {
        margin-right: 0;
        font-size: 1.2rem;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .card-body ul {
        padding-left: 50px;
    }

    .card-body ul li {
        font-size: 0.8rem;
        padding-right: 30px;
        word-break: keep-all;
        white-space: normal;
    }

    .card-body .row .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .card-body h6 strong {
        display: inline-block;
        margin-left: 20px;
    }

    .btn-smaller {
        font-size: 0.88rem;
        padding: 0.25rem 0.5rem;
    }

    select {
        width: 100%;
        font-size: 0.8rem;
        max-height: 150px;
        overflow-y: auto;
    }

    .container .row .col-lg-6.card,
    .container .row .col-md-8 {
        padding: 0 10px;
        margin: 0 auto;
    }

    .btn.btn-more-info {
        padding: 5px 10px;
        font-size: 18px;
    }

}